[data-scroll-text] {
    display: inline-block;
    position: relative;
    span {
        transition: all 0.2s;
        position: absolute;
        opacity: 0;
        left: 0;
        transform: translateY(20px);
    }
    span.current {
        position: relative;
        transform: translateY(0);
        opacity: 1;
    }
}

.background {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.foreground {
    position: relative;
    z-index: 1;
}
button,
a.button {
    -webkit-appearance: none;
    background: linear-gradient(45deg, #00407f, #14c9ff);
    text-shadow: 0 1px #00407f;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    padding: 0.7rem 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
