<header>
    <div class="foreground">
        {% include "../../svgs/flash.svg" %}
        <h1 class="heading-first">Flash</h1>
        <div class="heading-second">Build
        <span data-scroll-text="faster|better|easier">faster</span>.</div>
        <a href="https://github.com/brandon-pereira/flash" target="_" class="button cta">GitHub</a>
    </div> 
    <!-- <div class="background">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
</header>
<article class="section1">
    <div class="row">
        <div class="column">
            <h2>Focus on what matters, <br />your app.</h2>
            <p>Spend less time dealing with configuration files, compression, and other tedious developer tasks. Spend more time building and planning your application. Flash provides production-ready configuration out of the box.</p>
        </div>
        <div class="column">
            {% include "../../static/coder.svg" %}
        </div>
    </div>
</article>
<article class="section2">
    <div class="row">
        <div class="column">
             {% include "../../static/async-loader.svg" %}
        </div>
        <div class="column">
            <h2>Ready in the blink of an eye</h2>
            <p>Flash goes above and beyond when it comes to optimizing page load. It ensures the user sees a first-paint almost instantly, and progressively enhances the experience from there.</p>
            <p>We go above and beyond the competition by providing you a easy to use dependency API. Need to ensure your code is loaded and ready before leaving the slash screen? Add it to the dependency stack.</p>
            <!-- <a href="button cta"></a> -->
        </div>
    </div>
</article>
<article class="section3">
    <div class="row align-top">
        <div class="column">
           <h2>Framework agnostic</h2>
           <p>Flash can be used with almost any framework. It works especially well with React and Vue.</p>
        </div>
        <div class="column">
            <h2>Static site generator</h2>
            <p>If you know how the page should look once rendered, you can easily prerender the page on build. Using nunjucks you can even tap into APIs for data.</p>
        </div>
    </div>
</article>
<article class="section4">
    <div class="row">
        <div class="column">
           <h2>Dependency API</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
    </div>
</article>
<article class="section5">
    <div class="background"></div>
    <div class="foreground row">
        <a href="#b" class="column">
            <h2>Support</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
        <a href="#a" class="column">
            <h2>Documentation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </a>
    </div>
</article>
<footer>
    Lorem Ipsum
</footer>